@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:700);
@base: #ffccab;

body{
  // background-color: @base;
  background: url("/images/star.jpg");

}


//--------------------------------------------------------------------//
// panel images

#space{
  background-image: url("/images/earth.jpg");
  background-size: cover;
 }

#annie{
  background-image: url("/images/annie.jpg");
  background-size: cover;

 }

#meal{
  background-image: url("/images/food.jpg");
  background-size: cover;

 }

#sunset{
  background-image: url("/images/sunset.jpg");
  background-size: 100% 100%;

 }

#enemy{
  background-image: url("/images/enemy.png");
  background-size: 100% 100%;
}

#badGuy{
  background-image: url("/images/badGuy.png");
  background-size: 100% 100%;
}

#badship{
  background-image: url("/images/badShip.jpg");
  background-size: 100% 100%;

}

#closeup{
  background-image: url("/images/closeup.jpg");
  background-size: 100% 100%;
}

#fleet{
  background-image: url("/images/fleet.jpg");
  background-size: 100% 100%;
}

#decide{
  background-image: url("/images/decide.jpg");
  background-size: 100% 100%;
}

#boom{
  background-image: url("/images/boom.jpg");
  background-size: 100% 100%;
}

#newbody{
  background-image: url("/images/newbody.jpg");
  background-size: 100% 100%;
}
#cosmo{
  background-image: url("/images/cosmonaut.jpg");
  background-size: 100% 100%;

}

#beam{
  background-image: url("/images/transport.jpg");
  background-size: 100% 100%;

}

#cat{
  background-image: url("/images/cat.jpg");
  background-size: 100% 100%;

}

//-----------------------------------------------------------
// bubbles
#thought{
    background-image: url("/images/thought-bubble.png");
    // width: 100%;
    height:250px;
    background-size: 50% 50%;
    // z-index: 2;
    background-repeat: no-repeat;
    color: black;
    padding-left: 30px;
    padding-top: 30px;
    margin-left: 100px;
    margin-top: 50px;

    color: black;
    // background-color: yellow;
    opacity: 0.9;
    font-family: 'Roboto Condensed', sans-serif;

}




//------------------------------------------------------------------------//
// classes

.nar{
padding-left: 5px;
color: black;
background-color: yellow;
width: 100%;
opacity: 0.9;
border: solid black 3px;
font-family: 'Roboto Condensed', sans-serif;
}

.pic{
  z-index: 1;
  width: 100%;
  height:450px;
}

.full{
  z-index: 1;
  width: 100%;
  height:800px;
}

.bubble{
  z-index: 2;
  margin-top: -730px;
  margin-left: 170px;
  width: 50%;
}

h3{
  color: white;
}