@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:700);
@import url(http://fonts.googleapis.com/css?family=Bangers);
@import url(http://fonts.googleapis.com/css?family=Orbitron);
@purple: #380B38;

.setup (@time; @ease) {//transition setup
  transition:All @time @ease;
  -webkit-transition:All @time @ease;
  -moz-transition:All @time @ease;
  -o-transition:All @time @ease;
  transform: rotate(0deg) scale(1) skew(1deg) translate(10px);
  -webkit-transform: rotate(0deg) scale(1) skew(1deg) translate(10px);
  -moz-transform: rotate(0deg) scale(1) skew(1deg) translate(10px);
  -o-transform: rotate(0deg) scale(1) skew(1deg) translate(10px);
  -ms-transform: rotate(0deg) scale(1) skew(1deg) translate(10px);
}

.hover (@rotate; @scale; @skew; @translate) {//hover transition
  color: @purple;
  transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
  -webkit-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
  -moz-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
  -o-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
  -ms-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
}



body{
  background: url("/images/star.jpg");
}

button:hover{
  background-color: @purple;
}

.color{
  color: white;
  background-color: @purple;
}

#instructions{
    font-family: 'Roboto Condensed',sans-serif;
    color: white;
}

#title{
  font-family: 'Bangers', cursive;
  color: white;
  font-size: 200px;
  width: 800px;
  margin: auto;
  margin-bottom: 20px;
  line-height: 136px;
  text-shadow:12px 15px 31px #380b38;
}


//-----------------------------------------------------------
// bubbles

.bubble_prop(@image; @color){
  background-image: url("/images/@{image}");
  background-repeat: no-repeat;
  position: absolute;
  font-family: 'Roboto Condensed',sans-serif;
  font-size: 15px;
  z-index: 3;
  opacity: 0.9;
  color: @color;
}

#applesauce{
  .bubble_prop("speechR.png"; black);
  background-size: 75% 86%;
  width: 200px;
  height: 123px;
  right: -118px;
  top: 51px;
  padding-top: 19px;
  padding-left: 30px;

}

#dogthought{
  .bubble_prop("speech1.png"; black);
  height: 92px;
  width: 195px;
  left: 22px;
  background-size: 94% 93%;
  padding-left: 37px;
  padding-top: 9px;
  padding-right: 37px;
}

// clickable bubbles---------------------------------------------------


#computegood{
  .bubble_prop("thought-bubbleflip.png"; red);
  background-size: 81% 119%;
  width: 225px;
  height: 123px;
  left: 114px;
  top: 58px;
  padding-top: 33px;
  padding-left: 36px;
  .setup(1s; ease)
}

#computegood:hover{
  .hover(0deg; 1.265; 1deg; 0px)
}

#computebad{
  .bubble_prop("thought-bubble.png"; red);
  background-size: 108% 124%;
  width: 200px;
  height: 123px;
  right: 134px;
  top: 71px;
  padding-top: 31px;
  padding-left: 68px;
  .setup(1s; ease)
}

#computebad:hover{
  .hover(0deg; 1.36; 1deg; 0px)
}

#thoughtbad{
  .bubble_prop("thought-bubble.png"; red);
  height: 108px;
  width: 155px;
  background-size: 110% 116%;
  padding-left: 50px;
  padding-top: 15px;
  left: 272px;
  top: 30px;
  opacity: 0.9;
  .setup(1s; ease)
}

#thoughtbad:hover{
  .hover(0deg; 1.36; 1deg; 0px)
}

#thoughtgood{
  .bubble_prop("thought-bubbleflip.png"; red);
  height: 210px;
  background-size: 100% 129%;
  width: 209px;
  padding-left: 49px;
  padding-top: 40px;
  left: -71px;
  top: 24px;
  .setup(1s; ease)
}

#thoughtgood:hover{
  .hover(0deg; 1.203; 1deg; 0px)
}

#speechbad{
  .bubble_prop("speech1.png"; red);
  height: 92px;
  width: 195px;
  left: 22px;
  background-size: 94% 93%;
  padding-left: 37px;
  padding-top: 9px;
  padding-right: 37px;
  .setup(1s; ease)
}

#speechbad:hover{
  .hover(0deg; 1.36; 1deg; 0px)
}

#speechgood{
  .bubble_prop("speech1.png"; red);
  height: 97px;
  width: 128px;
  background-size: 99% 103%;
  left: 119px;
  top: 20px;
  padding-left: 21px;
  padding-top: 20px;
  .setup(1s; ease)
}

#speechgood:hover{
 .hover(0deg; 1.36; 1deg; 0px)
}

//--------------------------------------------------------------------//
// panel images
.panel_prop(@image; @size){
  background-image: url("/images/@{image}");
  background-size: @size;
}

#space{
  .panel_prop("earth.jpg"; cover);
 }

#annie{
  .panel_prop("annie.jpg"; cover);
 }

#meal{
  .panel_prop("food.jpg"; cover);
 }

#sunset{
  .panel_prop("sunset.jpg"; 100% 100%);
 }

#enemy{
  .panel_prop("enemy.png"; 100% 100%);
}

#badGuy{
  .panel_prop("badGuy.png"; cover);
}

#badship{
  .panel_prop("badShip.jpg"; cover);
}

#closeup{
  .panel_prop("closeup.jpg"; cover);
}


#fleet{
  .panel_prop("fleet.jpg"; 100% 100%);
}

#close2{
  .panel_prop("close2.jpg"; 100% 100%);
}

#decide{
  .panel_prop("decide.jpg"; cover);
}

#boom{
  .panel_prop("boom.jpg"; 100% 100%);
}

#shipexplodes{
  .panel_prop("shipexplodes.jpg"; 100% 100%);
  .setup(1s; ease)
}

#shipexplodes:hover{
  .hover(0deg; 1.095; 1deg; 0px)
}

#newbody{
  .panel_prop("newbody.jpg"; 100% 100%);
}

.beam{
  .panel_prop("transport.jpg"; 100% 100%);
}

.beamed{
  .panel_prop("transported.jpg"; 100% 100%);
}

#cat{
   .panel_prop("cat.jpg"; 100% 100%);
  .setup(1s; ease)
}

#cat:hover{
  .hover(0deg; 1.095; 1deg; 0px)
}

#dogandchild{
  .panel_prop("dogandchild.jpg"; 100% 100%);
}

#dogcomp{
  .panel_prop("dogcomp.jpg"; 100% 100%);
}

#door{
  .panel_prop("door.jpg"; 100% 100%);
}

#dogclose{
  .panel_prop("dogclose.jpg"; 100% 100%);
}

#pound{
  .panel_prop("pound.jpg"; 100% 100%);
}

.beam2{
  .panel_prop("transport2.jpg"; 100% 100%);
}

.beamed2{
  .panel_prop("transported2.jpg"; 100% 100%);
}

#dish{
  .panel_prop("dish.jpg"; 100% 100%);
}

#bedtime{
  .panel_prop("bedtime.jpg"; 100% 100%);
}

#sneaking{
  .panel_prop("sneaking.jpg"; 100% 100%);
}

#bothatcomp{
  .panel_prop("bothatcomp.jpg"; 100% 100%);
}

#keyboard{
  .panel_prop("keyboard.jpg"; 100% 100%);
}

#sos{
  .panel_prop("sos.jpg"; 100% 100%);
}

#childcomp{
  .panel_prop("childcomp.jpg"; 100% 100%);
}

#sat1{
  .panel_prop("sat1.jpg"; 100% 100%);
}

#shoot{
  .panel_prop("shoot.jpg"; 100% 100%);
  .setup(1s; ease)
}

#shoot:hover{
  .hover(0deg; 1.095; 1deg; 0px)
}

#mirror{
  .panel_prop("mirror.jpg"; 100% 100%);
}

#enemydies{
  .panel_prop("enemydies.jpg"; 100% 100%);
  .setup(3.1436s; ease-in-out)
}

#enemydies:hover{
  .hover(360deg; 1; 0deg; 0px)
}

#earthend{
  .panel_prop("earthend.jpg"; 100% 100%);
}


//------------------------------------------------------------------------//

#instructions{
  padding-left: 5px;
  color: black;
  background-color: yellow;
  opacity: 0.9;
  border: solid black 3px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  width: 800px;
  margin: auto;
  margin-bottom: 20px;

}

.nar{
  padding-left: 5px;
  color: black;
  background-color: yellow;
  width: 100%;
  opacity: 0.9;
  border: solid black 2px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
}

.narbot{
  padding-left: 2px;
  color: black;
  background-color: yellow;
  width: 100%;
  opacity: 0.9;
  border: solid black 2px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
  position: relative;
  top: 94%;
}

.row {
  max-width: 100%!important;
}

.pagewrap{
  width: 60%;
  margin: auto;
  margin-top: 50px;

}

.pic{
  z-index: 1;
  width: 100%;
  height:350px;
  margin-bottom: 20px;
  border: solid black 5px;
}

.full{
  z-index: 1;
  width: 100%;
  height:720px;
  margin-bottom: 20px;
}

.bubble{
  z-index: 2;
  margin-top: -730px;
  margin-left: 170px;
  width: 50%;
}

h3{
  color: white;
}

.top-bar-section{
  height: 5px;
}

#credits{
  font-family: 'Bangers', cursive;
  color: white
}