@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:700);
@import url(http://fonts.googleapis.com/css?family=Bangers);
@base: #ffccab;

body{
  // background-color: @base;
  background: url("/images/star.jpg");
}

.color{
  color: white;
  background-color: #380B38;
}

#instructions{
    font-family: 'Roboto Condensed',sans-serif;
    color: white;
}

#title{
font-family: 'Bangers', cursive;
color: white;
font-size: 200px;
// width: 500px;
width: 800px;
  margin: auto;
  margin-bottom: 20px;
  line-height: 136px;
  // text-shadow:5px 7px 11px #380d38;
  text-shadow:12px 15px 31px #380b38;
// margin: auto:

}

//-----------------------------------------------------------
//audio

// #mute{
//   position: fixed;
//   left: 5px;
//   top: 5px;
// }
//-----------------------------------------------------------
// bubbles
#applesauce{
  background-image: url("/images/speechR.png");
  background-repeat: no-repeat;
  background-size: 75% 86%;
  width: 200px;
  height: 123px;
  position: absolute;
  right: -118px;
  top: 51px;
  padding-top: 19px;
  padding-left: 30px;
  color: black;
  font-family: 'Roboto Condensed',sans-serif;
  font-size: 15px;
  z-index: 3;
}
#dogthought{
  background-image: url("/images/speech1.png");
  height: 92px;
  width: 195px;
  position: absolute;
  left: 22px;
  background-size: 94% 93%;
  background-repeat: no-repeat;
  opacity: 0.9;
  font-family: 'Roboto Condensed',sans-serif;
  padding-left: 37px;
  padding-top: 9px;
  padding-right: 37px;
  color: black;
}


#computegood{
  background-image: url("/images/thought-bubbleflip.png");
  background-repeat: no-repeat;
  background-size: 81% 119%;
  width: 225px;
  height: 123px;
  position: absolute;
  left: 114px;
  top: 58px;
  padding-top: 33px;
  padding-left: 49px;
  color: red;
  font-family: 'Roboto Condensed',sans-serif;
}

#computebad{
  background-image: url("/images/thought-bubble.png");
  background-repeat: no-repeat;
  background-size: 108% 124%;
  width: 200px;
  height: 123px;
  position: absolute;
  right: 134px;
  top: 71px;
  padding-top: 31px;
  padding-left: 68px;
  color: red;
  font-family: 'Roboto Condensed', sans-serif;
}

#thoughtbad{
  background-image: url("/images/thought-bubble.png");
  height: 108px;
  width: 155px;
  background-size: 110% 116%;
  background-repeat: no-repeat;
  padding-left: 50px;
  padding-top: 15px;
  position: absolute;
  left: 272px;
  top: 30px;
  opacity: 0.9;
  font-family: 'Roboto Condensed',sans-serif;
  color: red;
}

#thoughtgood{
  z-index: 3;
  background-image: url("/images/thought-bubbleflip.png");
  height: 210px;
  background-size: 100% 129%;
  background-repeat: no-repeat;
  width: 209px;
  color: black;
  padding-left: 49px;
  padding-top: 40px;
  // margin-left: 47px;
  position: absolute;
  left: -37px;
  top: 24px;
  color: red;
  opacity: 0.9;
  font-family: 'Roboto Condensed',sans-serif;
  color: red;
}

#speechbad{
  background-image: url("/images/speech1.png");
  height: 92px;
  width: 195px;
  position: absolute;
  left: 22px;
  background-size: 94% 93%;
  background-repeat: no-repeat;
  opacity: 0.9;
  font-family: 'Roboto Condensed',sans-serif;
  padding-left: 37px;
  padding-top: 9px;
  padding-right: 37px;
  color: red;
}

#speechgood{
  background-image: url("/images/speech1.png");
  height: 97px;
  width: 128px;
  background-size: 99% 103%;
  background-repeat: no-repeat;
  opacity: 0.9;
  font-family: 'Roboto Condensed',sans-serif;
  position: absolute;
  left: 119px;
  top: 20px;
  padding-left: 21px;
  padding-top: 20px;
  color: red;
}

//--------------------------------------------------------------------//
// panel images

#space{
  background-image: url("/images/earth.jpg");
  background-size: cover;
 }

#annie{
  background-image: url("/images/annie.jpg");
  background-size: cover;
 }

#meal{
  background-image: url("/images/food.jpg");
    background-size: cover;
 }

#sunset{
  background-image: url("/images/sunset.jpg");
    background-size: 100% 100%;
 }

#enemy{
  background-image: url("/images/enemy.png");
  background-size: 100% 100%;
}

#badGuy{
  background-image: url("/images/badGuy.png");
  background-size: cover;
}

#badship{
  background-image: url("/images/badShip.jpg");
  background-size: cover;

}

#closeup{
  background-image: url("/images/closeup.jpg");
  background-size: cover;
}

#fleet{
  background-image: url("/images/fleet.jpg");
    background-size: 100% 100%;
}

#close2{
  background-image: url("/images/close2.jpg");
  background-size: 100% 100%;
}

#decide{
  background-image: url("/images/decide.jpg");
  background-size: cover;
}

#boom{
  background-image: url("/images/boom.jpg");
  background-size: 100% 100%;
}

#shipexplodes{
  background-image: url("/images/shipexplodes.jpg");
  background-size: 100% 100%;

}

#newbody{
  background-image: url("/images/newbody.jpg");
  background-size: 100% 100%;
}

#beam{
  background-image: url("/images/transport.jpg");
  background-size: 100% 100%;
}

#cat{
  background-image: url("/images/cat.jpg");
  background-size: 100% 100%;
}

#dogandchild{
  background-image: url("/images/dogandchild.jpg");
  background-size: 100% 100%;
}

#dogcomp{
  background-image: url("/images/dogcomp.jpg");
  background-size: 100% 100%;

}

#door{
  background-image: url("/images/door.jpg");
  background-size: 100% 100%;
}

#dogclose{
  background-image: url("/images/dogclose.jpg");
  background-size: 100% 100%;
}

#pound{
  background-image: url("/images/pound.jpg");
  background-size: 100% 100%;
}

#childanddog{
  background-image: url("/images/childanddog.jpg");
  background-size: 100% 100%;
}

#dish{
  background-image: url("/images/dish.jpg");
  background-size: 100% 100%;
}

#bedtime{
  background-image: url("/images/bedtime.jpg");
  background-size: 100% 100%;
}

#sneaking{
  background-image: url("/images/sneaking.jpg");
  background-size: 100% 100%;

}

#bothatcomp{
  background-image: url("/images/bothatcomp.jpg");
  background-size: 100% 100%;
}

#keyboard{
  background-image: url("/images/keyboard.jpg");
  background-size: 100% 100%;
}

#sos{
  background-image: url("/images/sos.jpg");
  background-size: 100% 100%;

}

#childcomp{
  background-image: url("/images/childcomp.jpg");
  background-size: 100% 100%;
}

#sat1{
  background-image: url("/images/sat1.jpg");
  background-size: 100% 100%;
}

#shoot{
  background-image: url("/images/shoot.jpg");
  background-size: 100% 100%;
}

#mirror{
  background-image: url("/images/mirror.jpg");
  background-size: 100% 100%;
}

#enemydies{
  background-image: url("/images/enemydies.jpg");
  background-size: 100% 100%;
}

#authors{
  background-image: url("/images/enemydies.jpg");
  background-size: 100% 100%;

}


//------------------------------------------------------------------------//
// classes
// .row{
//   width: 100% !important;
// }
// #save{
//   margin: auto;
// }

#instructions{
  padding-left: 5px;
  color: black;
  background-color: yellow;
  // width: 100%;
  opacity: 0.9;
  border: solid black 3px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  width: 800px;
  margin: auto;
  margin-bottom: 20px;

}
.nar{
padding-left: 5px;
color: black;
background-color: yellow;
width: 100%;
opacity: 0.9;
border: solid black 3px;
font-family: 'Roboto Condensed', sans-serif;
font-size: 12px;
}

.row {
  max-width: 100%!important;
}

.pagewrap{
  width: 60%;
  // margin-left: auto;
  // margin-right: auto;
  margin: auto;
  margin-top: 50px;

}

.pic{
  z-index: 1;
  width: 100%;
  height:350px;
  margin-bottom: 20px;
  // margin-left: 400px;
  // margin: auto;
}

.full{
  z-index: 1;
  width: 100%;
  height:720px;
  margin-bottom: 20px;
  // margin-left: 400px;
}

.bubble{
  z-index: 2;
  margin-top: -730px;
  margin-left: 170px;
  width: 50%;
}

h3{
  color: white;
}

.top-bar-section{
  height: 5px;
}