extends ../template/layout

block content
  .row#earth
    .pagewrap
      .large-4.columns
        .ex
          #space.pic
            //- p.nar= reader.hero
            p.nar On earth...
      .large-4.columns
        .ex
          #annie.pic
            p.nar In a kitchen...
          img.bubble(src="/images/bubblesauce.png")
      .large-4.columns
        .ex
          #meal.pic
            p.nar Eating a meal... <br>An unsuspecting family lives their lives.
      .large-12.columns
        .ex
          #sunset.pic
            p.nar Meanwhile, lurking above..An aggresive army of robotic aliens plan the destruction of mankind.
          //- button#mute.tiny.alert mute

  .row#robot
    .pagewrap
      .large-6.columns
        #enemy.pic
          p.nar They are an army of destructors. They go by the name of ________
      .large-6.columns
        .ex
          #badGuy.pic
            p.nar  Behold, the evil genius leader _________.
      .large-12.columns
        .ex
          #badship.pic
            p.nar _________, a true threat to mankind. They wish to destroy earth and absorb the energy of the blast to fuel their bio-reactors. Any possibility of a future threat from the human race would be eliminated as well. Technology has been growing at a logarithmic pace on earth. It draws the interest of beings all over the galaxy.

  .row#choice1
    .pagewrap
      .large-6.columns
        .ex
          #closeup.pic
            p.nar A small hope lies in a new and secret technology that allows living entities to be controlled by organic software. This is due to the work of a small race of robots on an explorative mission who see what is unfolding and step in to help.
      .large-6.columns
        .ex
          #fleet.pic
            p.nar The enemy ship approaches to take over this seemingly small threat.
      .large-6.columns
        .ex
          #close2.pic
            p.nar Something needs to happen quickly.
            a
              #speechbad
                p We need to load <br> the cannons.
      .large-6.columns
        .ex
          #decide.pic
            p.nar Should you defend yourself or teleport?
            a
              #speechgood
                p No, we need to<br>teleport.

      //- button#bad bad

  .row#wrong
    .pagewrap
      .large-12.columns
        .ex
          #boom.full
            p.nar oops. you killed civilization.

  .row#transport
    .pagewrap
      .large-12.columns
        .ex
          #beam.full
            p.nar The ship is overtaken and our hero ________, is transported to earth at the last possible second.
  .row#plans
    .pagewrap
      .large-12.columns
        .ex
          #shipexplodes.pic
            p.nar The enemy scavenges your ship and sets it to self destruct. The worthless ship detonates while all the intelligence it once held has now taken taken refuge in an average family pet.
      .large-6.columns
        .ex
          #newbody.pic
            p.nar name of pet__________ has taken on an entirely new entity. A quantum leap in real time. ; bubble "huh? what happened? Why do I want to chase that cat?"
      .large-6.columns
        .ex
          #cat.pic
            p.nar Only the family cat and two year old youngster can sense a change in __________.

  .row#choice2
    .pagewrap
      .large-6.columns
        .ex
          #dogandchild.pic
            p.nar Ironically, young ________ wants to play with _____ but can't understand the seriousness of the situation.
      .large-6.columns
        .ex
          #dogcomp.pic
            p.nar There is no way to hack into N.A.S.A.'s Alien protection system with a cold nose.
      .large-6.columns
        .ex
          #door.pic
            p.nar An unguarded open door could make a great escape route for a better chance at finding help.
      .large-6.columns
        .ex
          #dogclose.pic
            p.nar There isn't much time
            a
              #thoughtbad
                p Should I run<br>for the door?
            a
              #thoughtgood
                p Should i use<br>reserve energy to<br>transport to the<br>child?
  .row#wrong2
    .pagewrap
      .large-12.columns
        .ex
          #pound.full
            p.nar You got caught and put in the pound.

  .row#transport2
    .pagewrap
      .large-12.columns
        .ex
          #childanddog.pic
            p.nar With a small amount of energy, _____ transports from _____ into  ______.
      .large-6.columns
        .ex
          #dish.pic
            p.nar You need to activate the laser cannons on this Reagan era star wars system. Aren't you glad they secretly finished it?
      .large-6.columns
        .ex
          #bedtime.pic
            p.nar _______ is put to bed early for acting skittishly!

        //- //speech bubble - you need your rest sweety

  .row#choice3
    .pagewrap
      .large-6.columns
        .ex
          #sneaking.pic
            p.nar _____ sneaks up when all is quiet.
      .large-6.columns
        .ex
          #bothatcomp.pic
            p.nar Let's try something!!
      .large-12.columns
        .ex
          #keyboard.pic
            p.nar You are stuck with a difficult descision. Either make an S.O.S. to call your home planet for backup or hack into N.A.S.A.'s laser defense system and destroy the threat. Time us almost up. Try something!!
          a
            #computegood
                p Hack Nasa??
          a
            #computebad
                p Send an S.O.S.<br>for backup??

  .row#wrong3
    .pagewrap
      .large-12.columns
        #sos.full
          p.nar Your transmission has been interrupted. You die.

  .row#end
    .pagewrap
      .large-4.columns
        .ex
          #childcomp.pic
            p.nar Blast them!!
      .large-4.columns
        .ex
          #sat1.pic
            p.nar Parsing coordinates!!
      .large-4.columns
        .ex
          #shoot.pic
            p.nar Detonate!!
      .large-6.columns
        .ex
          #mirror.pic
            p.nar Mirrors!
      .large-6.columns
        .ex
          #enemydies.pic
            p.nar Ouch! The enemy is wiped out. There is a dropout in the grid for a moment and you are now a two year old smart enough to put Tony Stark in the corner. Congrats!

  .row#credits
      .pagewrap
        .large-12.columns
          .ex
            #authors.full
              p.nar blah

