
form(action="/reader", method="post")
  mixin field(4, "text", "hero", "A Hero's name", null, "Your Name ?", true)
  mixin field(4, "text", "dog", "A Dog's Name", null, "Fido")
  mixin field(4, "text", "child", "A Child's Name", null, "Suzy")

  .small-1.columns.small-offset-8: button.nar(value='submit') Save Info & Start
