extends ../template/layout

block content
  .row#earth
    .small-12.columns
      h1 Home Page
      img#annie(src="/images/earth.jpg")
      button#next next

  .row#robot
    .small-12.columns
      h1 Bar Page
      img#annie(src="/images/robot.jpg")
      button#back back
