extends ../template/layout

block content
  .row#earth.page
    .large-4.columns
      .ex
        #space.pic
          p.nar On earth...
          #thought
            p hello
    .large-4.columns
      .ex
        #annie.pic
          p.nar In a kitchen...
        img.bubble(src="/images/bubblesauce.png")
    .large-4.columns
      .ex
        #meal.pic
          p.nar Eating a meal... <br>An unsuspecting family lives their lives.
    .large-12.columns
      .ex
        #sunset.pic
          p.nar Meanwhile, lurking above..An aggresive army of robotic aliens plan the destruction of mankind.

  .row#robot
    .large-6.columns
      .ex
        #enemy.pic
          p.nar They are an army of destructors. The__________
      //- button#bad bad
    .large-6.columns
      .ex
        #badGuy.pic
          p.nar  Led by an evil genius.
    .large-12.columns
      .ex
        #badship.pic
          p.nar A true threat to mankind. They wish to destroy earth and absorb the energy of the blast to fuel their bio-reactors. Any possibility of a future threat from the human race would be eliminated as well. Technology has been growing at a logarithmic pace on earth. It draws the interest of being all over the galaxy.


  .row#choice1
    .large-6.columns
      .ex
        #closeup.pic
          p.nar The only hope lies in a new and secret technology that allows living entities to be controlled by organic software. This due to the work of two outcasts.
    .large-6.columns
      .ex
        #fleet.pic
          p.nar Their ship is approaching.
    .large-6.columns
      .ex
        #close2.pic
          p.nar Time is almost up.
    .large-6.columns
      .ex
        #decide.pic
          p.nar Should you fight back or teleport?.

  .row#wrong
    .large-12.columns
      .ex
        #boom.full
          p.nar oops. you killed civilization.

  .row#transport
    .large-12.columns
      .ex
        #beam.full
          p.nar We are being taken over! Beam me up!!

  .row#plans
    .large-6.columns
      .ex
        #newbody.pic
          p.nar huh? What happened. The closest thing________ locked on to was a beloved family pet
    .large-6.columns
      .ex
        #cat.pic
          p.nar meow.

  .row#choice2
    .large-12.columns
      h3 choice2

  .row#wrong2
    .large-12.columns
      h3 wrong2

  .row#transport2
    .large-12.columns
      h3 transport2

  .row#plans2
    .large-12.columns
      h3 plans2

  .row#choice3
    .large-12.columns
      h3 choice3

  .row#wrong3
    .large-12.columns
      h3 wrong3
      //- img.pic#cosmo(src="/images/cosmonaut.jpg")

  .row#end
    .large-12.columns
      h3 end
