extends ../template/layout

block content
  .row#earth
    .small-4.columns
      h1 On Earth
      img.pic(src="/images/earth.jpg")
    .small-4.columns
      h1 In a kitchen..
      img.pic(src="/images/annie.jpg")
    .small-4.columns
      h1 Eating a meal..
      img.pic(src="/images/food.jpg")
      button#next next

  .row#robot
    .small-12.columns
      h1 UNTIL!
      img.pic(src="/images/robot.jpg")
      button#back back
