extends ../template/layout
include ../mixins/form-helper

block content
  .row
    .large-12.columns
      p#instructions Please fill out the form, press the 'Save' button. Use the right and left arrow keys to navigate the story. Speech bubbles that turn color on hover can be clicked on to make a descision along the way.
      include form
  .row
    .large-12.columns
      p#title Mechanoid Massacre