extends ../template/layout

block content
  .row#earth.page
    .small-4.columns
      h3.subheader On Earth
      img.pic(src="/images/earth.jpg")
      //- #space.pic
    .small-4.columns
      h3.subheader in a kitchen..
      img.pic(src="/images/annie.jpg")
      //- #annie
      img.bubble(src="/images/bubblesauce.png")
    .small-4.columns
      h3.subheader Eating a meal..
      img.pic(src="/images/food.jpg")
      //- #meal.pic
      //- button#next next

  .row#robot
    .small-12.columns
      h1 UNTIL!
      img.pic(src="/images/robot.jpg")
      //- button#back back
      button#bad bad

  .row#wrong
    .small-12.columns
      h1 EXPLOSION!!
      img.pic#last(src="/images/enemy.JPG")

  .row#choice1
    .small-12.columns
      h1 what will you do?
      img.pic#cosmo(src="/images/cosmonaut.jpg")



