extends ../template/layout

block content
  .row#earth.page
    .large-4.columns
      .ex
        #space.pic
          p.nar On earth...
          #thought
            p hello
    .large-4.columns
      .ex
        #annie.pic
          p.nar In a kitchen...
        img.bubble(src="/images/bubblesauce.png")
    .large-4.columns
      .ex
        #meal.pic
          p.nar Eating a meal... <br>An unsuspecting family lives their lives.
    .large-12.columns
      .ex
        #sunset.pic
          p.nar Meanwhile, lurking above..A sinister army of robots plan the destruction of mankind in an effort to harbor the energy resources at the core of the planet.

  .row#robot
    .large-6.columns
      .ex
        #enemy.pic
          p.nar They are an army of destructors.
      //- button#bad bad
    .large-6.columns
      .ex
        #badGuy.pic
          p.nar They are led by an evil genius.
    .large-12.columns
      .ex
        #badship.pic
          p.nar A threat to mankind


  .row#choice1
    .large-6.columns
      .ex
        #closeup.pic
          p.nar here is a choice.
    .large-6.columns
      .ex
        #fleet.pic
          p.nar here is a choice.
    .large-12.columns
      .ex
        #decide.pic
          p.nar here is a choice.

  .row#wrong
    .large-12.columns
      .ex
        #boom.full
          p.nar oops. you killed civilization.

  .row#transport
    .large-12.columns
      .ex
        #beam.full
          p.nar We are being taken over! Beam me up!!

  .row#plans
    .large-6.columns
      .ex
        #newbody.pic
          p.nar huh?.
    .large-6.columns
      .ex
        #cat.pic
          p.nar meow.

  .row#choice2
    .large-12.columns
      h3 choice2

  .row#wrong2
    .large-12.columns
      h3 wrong2

  .row#transport2
    .large-12.columns
      h3 transport2

  .row#plans2
    .large-12.columns
      h3 plans2

  .row#choice3
    .large-12.columns
      h3 choice3

  .row#wrong3
    .large-12.columns
      h3 wrong3
      //- img.pic#cosmo(src="/images/cosmonaut.jpg")

  .row#end
    .large-12.columns
      h3 end
