extends ../template/layout

block content

  .row#earth
    .pagewrap
      .large-4.columns
        .ex
          #space.pic
            p.nar On earth...
      .large-4.columns
        .ex
          #annie.pic
            p.nar In a kitchen...
          img.bubble(src="/images/bubblesauce.png")
      .large-4.columns
        .ex
          #meal.pic
            p.nar Eating a meal... <br>An unsuspecting family lives their lives.
      .large-12.columns
        .ex
          #sunset.pic
            p.nar Meanwhile, lurking above..An aggresive army of robotic aliens plan the destruction of mankind.
          button#mute.tiny.alert mute


  .row#robot
    .pagewrap
      .large-6.columns
        #enemy.pic
          p.nar They are an army of destructors. The__________
      .large-6.columns
        .ex
          #badGuy.pic
            p.nar  Led by an evil genius.
      .large-12.columns
        .ex
          #badship.pic
            p.nar A true threat to mankind. They wish to destroy earth and absorb the energy of the blast to fuel their bio-reactors. Any possibility of a future threat from the human race would be eliminated as well. Technology has been growing at a logarithmic pace on earth. It draws the interest of beings all over the galaxy.

  .row#choice1
    .pagewrap
      .large-6.columns
        .ex
          #closeup.pic
            p.nar A small hope lies in a new and secret technology that allows living entities to be controlled by organic software. This is due to the work of a small race of robots on an explorative mission who see what is unfolding and step in to help.
      .large-6.columns
        .ex
          #fleet.pic
            p.nar The enemy ship approaches to take over this seemingly small threat.
      .large-6.columns
        .ex
          #close2.pic
            p.nar Something needs to happen quickly.
            a
              #speechbad
                p We need to load <br> the cannons.
      .large-6.columns
        .ex
          #decide.pic
            p.nar Should you defend yourself or teleport?
            a
              #speechgood
                p No,<br>We need to<br>teleport.

      //- button#bad bad

  .row#wrong
    .pagewrap
      .large-12.columns
        .ex
          #boom.full
            p.nar oops. you killed civilization.

  .row#transport
    .pagewrap
      .large-12.columns
        .ex
          #beam.full
            p.nar We are being taken over! Lock me on to anything and push my software!

  .row#plans
    .pagewrap
      .large-12.columns
        .ex
          #shipexplodes.pic
            p.nar The enemy scavenges the ship and sets it to self destruct. The worthless ship detonates while all the intelligence it once held has now taken taken refuge in an average family pet.
      .large-6.columns
        .ex
          #newbody.pic
            p.nar name of pet__________; bubble "huh? what happened?"
      .large-6.columns
        .ex
          #cat.pic
            p.nar A strange urge to chase a cat?

  .row#choice2
    .pagewrap
      .large-6.columns
        .ex
          #dogandchild.pic
            p.nar Children are so annoying!
      .large-6.columns
        .ex
          #dogcomp.pic
            p.nar how am i suppose to hack into earth's Alien protection system with a cold nose?
      .large-6.columns
        .ex
          #door.pic
            p.nar An unguarded open door could make a great escape route for a better chance at finding help.
      .large-6.columns
        .ex
          #dogclose.pic
            p.nar There isn't much time
            a
              #thoughtbad
                p Should I run<br>for the door?
            a
              #thoughtgood
                p Should i use<br>reserve energy to<br>transport to the<br>kid?
  .row#wrong2
    .pagewrap
      .large-12.columns
        .ex
          #pound.full
            p.nar You got caught and put in the pound.

  .row#transport2
    .pagewrap
      .large-12.columns
        .ex
          #childanddog.pic
            p.nar The transportation of a dog into a two year old child.
      .large-6.columns
        .ex
          #dish.pic
            p.nar I need to activate the laser cannons on the reagan era star wars system.
      .large-6.columns
        .ex
          #bedtime.pic
            p.nar bed time!

  .row#choice3
    .pagewrap
      .large-6.columns
        .ex
          #sneaking.pic
            p.nar sneaking!
      .large-6.columns
        .ex
          #bothatcomp.pic
            p.nar let's try something!!
      .large-12.columns
        .ex
          #keyboard.pic
            p.nar You are stuck with a diffucult descision. Either make an S.O.S. to call your home planetfor backup or hack into N.A.S.A.'s laser defense system and destroy the threat. Time us almost up. Try something!!
          a
            #computegood
                p Hack Nasa??
          a
            #computebad
                p Send an S.O.S.<br>for backup??

  .row#wrong3
    .pagewrap
      .large-12.columns
        #sos.full
          p.nar Your transmission has been interrupted.

  .row#end
    .pagewrap
      .large-4.columns
        .ex
          #childcomp.pic
            p.nar blast them!!
      .large-4.columns
        .ex
          #sat1.pic
            p.nar engaging!!
      .large-4.columns
        .ex
          #shoot.pic
            p.nar engaging!!
      .large-6.columns
        .ex
          #mirror.pic
            p.nar mirrors
      .large-6.columns
        .ex
          #enemydies.pic
            p.nar gotcha!
