!!!5
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en">        <!--<![endif]-->
include head
body
  .contain-to-grid.fixed
    nav.top-bar
      section.top-bar-section
        ul.left
          li
            a.nar(href='/') Restart
                        //- a.button.tiny.radius.expand(href='/') Restart

        ul.right
          li.divider
          li
            //- span Audio
            audio#distress(src='/audios/dstress.mp3', loop=true, controls=true)
  block content
  include scripts
</html>
